.header {
    .smallDOt {
        width: 10px;
        color: #FDCB6E;
    }
    .nav-item:hover{
        color: #FDCB6E;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }
    
}
